<ion-header>
  <ion-toolbar>
    
    <ion-title>🌥️ WeatherForecastApp</ion-title>

    <ion-buttons slot="end">
      <ion-input placeholder="Enter city name"></ion-input>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      Search
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="locate" onclick="loadWeather()"></ion-icon>
      </ion-button>
      Current Location
    </ion-buttons>



  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <!-- Weather-1 Cards on the Left -->
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Now</ion-card-title>
          </ion-card-header>
          <img src="https://openweathermap.org/img/wn/04d@2x.png" alt="weather" class="weather-icon">
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Now</ion-card-title>
          </ion-card-header>
          <img src="https://openweathermap.org/img/wn/02d.png" alt="weather" class="weather-icon">    
        </ion-card>
      </ion-col>

      <!-- Weather-2 Card in the Center and Right -->
      <ion-col size="8">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Today is {{todayDate | date: "EEE dd MMM"}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
