<ion-header>
  <ion-toolbar>
    <ion-title>🌥️ WeatherForecastApp</ion-title>
    <ion-title slot="end">City: {{ location.city }} </ion-title>
    <ion-buttons slot="end">
      <ion-button expand="block" (click)="getCurrentWeather()" class="responsive-button">
      <ion-icon slot="start" name="location-outline"></ion-icon>
      Get Current Weather
      </ion-button>
    </ion-buttons>

    <ion-button slot="end" (click)="settingsSheet()">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar animated [(ngModel)]="cityName" placeholder="Enter city name" (ionInput)="onCityNameChange()"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card>
          <ion-card-header style="text-align: center;">
            <ion-card-title>{{ weatherTemp?.main?.temp || 'N/A' }}</ion-card-title>
            <ion-card-subtitle>Temperature: </ion-card-subtitle>
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-header style="text-align: center;">
            <ion-card-title><span>{{ weatherTemp?.main?.humidity || 'N/A' }}%</span></ion-card-title>
            <ion-card-subtitle>Humidity: </ion-card-subtitle>
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-header style="text-align: center;">
            <ion-card-title>{{ weatherTemp?.wind?.speed || 'N/A' }} m/s</ion-card-title>
            <ion-card-subtitle>Wind Speed: </ion-card-subtitle>
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-item>
            <ion-card-subtitle>Maximum Temperature: </ion-card-subtitle>
            <span slot="end">{{ weatherTemp?.main?.temp_max || 'N/A' }}</span>
          </ion-item>

          <ion-item>
            <ion-card-subtitle>Minimum Temperature: </ion-card-subtitle>
            <span slot="end">{{ weatherTemp?.main?.temp_min || 'N/A' }}</span>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="8">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Today is {{ todayDate | date: "EEE dd MMM" }} at {{ todayDate | date: 'hh:mm a' }} </ion-card-title>
          </ion-card-header>
          <ion-title>{{ weatherTemp?.name }} is {{ (weatherTemp?.main?.temp - 273.15).toFixed(0) }}<span>&deg;C</span> Today</ion-title><br>
          <ion-card-content>
            <img slot="end" [src]="weatherIcon" alt="Weather Icon" />
            <p>{{ weatherDetails?.description }}</p>
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="forecastData.length > 0">
          <ion-card-header>
            <ion-card-title>Hourly Forecast for Today</ion-card-title>
          </ion-card-header>
          <ion-item *ngFor="let forecast of forecastData">
              <strong>Time:</strong> {{ forecast.dt_txt | date: 'shortTime' }}<br>
              <strong>Temperature:</strong> {{ forecast.main.temp }}°C<br>
              <strong>Weather:</strong> {{ forecast.weather[0].description }}
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2" *ngFor="let forecast of forecastData">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ forecast.dt_txt | date: 'EEE, MMM d' }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img [src]="'https://openweathermap.org/img/wn/'+forecast.weather[0].icon+'@2x.png'" alt="Weather Icon"/>
            <p>{{ forecast.weather[0].description }}</p>
            <p>Temp: {{ forecast.main.temp }}</p>
            <p>Humidity: {{ forecast.main.humidity }}%</p>
            <p>Wind Speed: {{ forecast.wind.speed }} m/s</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>

</ion-content>