// #container {
//   display: flex;
//   justify-content: space-between;
// }

// .left-container {
//   flex: 1;
// }

// .right-container {
//   flex: 2;
// }



.weather-card-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
}

.weather-card-right {
  grid-column: 1 / 3;
}

