// #container {
//   display: flex;
//   justify-content: space-between;
// }

// .left-container {
//   flex: 1;
// }

// .right-container {
//   flex: 2;
// }



.weather-card-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
}

.weather-card-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  grid-column: 3 / 5;
} 

ion-card-header {
  text-align: center;
}
